body{
    background: #e0e0e0 url("https://www.zapi.pl/1416-home_default/jasnorozowe-girlandy-perlowe.jpg") repeat;
}


/* test*/

.subtable{
    background-color: lightpink;
    
}

.trhidden{
    display: none;
}

.trvisible{
    display: table-row;
}

.maintable{
    background-color: lightgray;
    table-layout: fixed; 
    width: 100%;
    
}

#app{
    height: 525px;
    margin-top: 10px;
    /* margin-bottom: 10vh; */
    overflow-y: scroll !important;
}




th{
    text-align: center !important;
}



.parent { 
    position: relative;
}

.pagination{
    position: fixed; /* zamienic na absolute pozniej */
    /* top: 50%; */
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}
