$pink-color-opacity: rgba(236,225,223,0.6);
$pink-color: #ece1df;
$font-color-grey: #8c8c8c;
$border-color: #e4e3e3;
$font-color-thead: #717171;


body{
    background: #e0e0e0 url("../img/background2.jpg") repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: $font-color-grey !important;
    
}


// #ccc1bf
.maintable {
    text-align: center;
    table-layout: fixed; /* rowne kolumny */
    width: 100%;
    margin-top: 50px;

    ::selection {
        background-color: none;
        color: #bdb3b3;
    }
    ::-moz-selection {
        background-color: none;
        color: #bdb3b3;
    }

    .subtable{
        background-color: rgba(123, 123, 123, 0.26);
        table-layout: fixed; 
        pointer-events: none;
        thead > tr > th {
            background-color: rgba(173, 160, 160, 0.9);
            color: #fff !important;
        }
    }
}


.maintable>tbody>tr:first-child:hover{
    background-color: rgba(243, 243, 243, 0.76);
    cursor: pointer;
}

.maintable > thead > tr > th {
    background-color: $pink-color-opacity;
}

.maintable thead tr th {
    color: $font-color-thead !important;
}

// .subtable >td > table > thead > tr > th,
.maintable > tbody > tr{
    background-color: rgba(251, 251, 251, 0.74);

    
}


.trhidden{
    display: none;
}

#app{
    margin-bottom: 60px;
}

table{
    margin-bottom: 0px !important;
    border: 1px solid $border-color;
    border-collapse: inherit !important;
    border-radius: 5px !important;
    overflow: hidden;

    table{
        border: none !important;
    }
    thead > tr > th {
        font-weight: normal !important;
        color: $font-color-grey !important;
        letter-spacing: 0.1em;
    }
}


th {
    text-align: center !important;
    border-bottom: none !important;
}


.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    border-color: $border-color !important;
    padding: 10px !important;
}


/* pagination */
.pagination-container{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: rgba(236,225,223,0.6);
    ::selection {
        background-color: none;
        color: #bdb3b3;
    }
    ::-moz-selection {
        background-color: none;
        color: #bdb3b3;
    }
}

.pagination{
    position: fixed;
    margin-top: 5px !important;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    color: $font-color-grey !important;
    background-color: $pink-color !important;
    cursor: default !important;
}

li > a{
    border-color: $border-color !important;
}

.pagination>.disabled>a:focus, .pagination>.disabled>a:hover {
    cursor: not-allowed !important;
    background-color: #fff !important;
}

.pagination > li > a:hover {
    background-color: #f3f3f3 !important;
    cursor: pointer !important;
}

.pagination > li > a,
.pagination > li > span {
    color: $font-color-grey !important;
    background-color: #fff;
    border: 1px solid #ddd;
}
